* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: #191724;
  color: #e0def4;
}

#window {
  font-weight: bold;
}

/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
  padding: 0 1px;
  background: transparent;
  color: #e0def4;
}

#workspaces button.active {
  color: #f6c177;
}

#submap {
  background: #f6c177;
  border-bottom: 3px solid #e0def4;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#submap {
  padding: 0 3px;
  margin: 0 2px;
}

#clock {
  font-weight: bold;
}

/* #battery { */
/* } */

#battery icon {
  color: red;
}

/* #battery.charging { */
/* } */

@keyframes blink {
  to {
    background-color: #ffffff;
    color: black;
  }
}

#battery.warning:not(.charging) {
  color: white;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* #cpu { */
/* } */

/* #memory { */
/* } */

/* #network { */
/* } */

#network.disconnected {
  background: #f53c3c;
}

/* #pulseaudio { */
/* } */

/* #pulseaudio.muted { */
/* } */

/* #tray { */
/* } */
